 <style >
    .img-rede img{ 
    max-width:100px;
    max-height:50px;
    float: left;
    /*width: 33.33%;*/
   .row::after {
    content: "";
    clear: both;
    display: table;  
    /* display: inline-block;*/       
    }

  </style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff";>
  {{>_msg}}
   <div class="container" align="center">
  <img src="/img/logoc.png"  class="img-responsive img-fluid" >
  </div>
</div>


<div align="center">

<div class="card" style="max-width: 90rem; margin: 30px; margin-top: -40px ">
  <div class="card-body">
  <h6><p class="text-justify">

    Pompeius, que do latim tem o significado “Enigma”, é um ambiente virtual que utiliza a gamificação para auxiliar o desenvolvimento do estágio operatório formal que tem como principal função estimular o raciocínio lógico, sistemático, assimilação e pesquisa.  
  <br>
  <br>
    Mas como Pompeius faz isso? 
<br>
<br>
    O professor que desejar utilizar, precisa se cadastrar, depois poderá criar uma sala virtual, onde conterão os enigmas de sua escolha. Ao criar uma sala, um código será gerado, e esse código que o aluno usará para entrar na sala virtual e iniciar sua partida.
<br>
<br>
    Lembrando que, os enigmas só serão liberados quando o professor iniciar a sala!
    O tempo de cada aluno em um enigma junto das suas tentativas de resposta, serão computados e enviados ao professor em um relatório no momento em que ele encerrar a sala.
<br>
<br>
    Mas como funcionam os enigmas?
<br>
<br>
 
    Cada enigma possui pistas espalhadas pela página, na url, no nome da aba assim como as próprias imagens são pistas! Fique atento e boa partida! :)
    
  </p></h6>

   <h6><p class="text-justify">
Desenvolvido por:
 <br>
 <br>

 Thaci & Lucas    
      <a href="https://www.facebook.com/thacischott">
         <div  class="img-rede">
           <img src="https://thacischott.github.io/challenger/imagem/face.png" class="media-object  img-responsive img-thumbnail"  style="margin-right: 5px"></a>
        </div>
    
     <a href="https://www.facebook.com/rochatrigolucas">
         <div  class="img-rede">
           <img src="https://thacischott.github.io/challenger/imagem/face.png" class="media-object  img-responsive img-thumbnail"></a>
        </div>
  </div>
 </p></h6>

</div>

  <a href="/pompeius" class="btn btn btn-outline-info"><b>VOLTAR À PAGINA INICIAL</b></a> 


</div>