<style>
body {
  background-color: #FFFFFF;
}
</style>


<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff";>
  {{>_msg}}
  <div class="container" align="center">
  <img src="/img/logoc.png" class="img-fluid" alt="Imagem responsiva" >
  </div>
</div>


<body>
 
<div class="text-center">
    <strong><h5>Parabéns! Você finalizou todos os engimas desta sala!</h5></strong>
    <strong><h5>Obrigado por jogar! :)<strong><h5>
</div>
</div>