<title>POMPEIUS</title>

<style>
    body {
        background-color: #00CCBB;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>
    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-fluid" alt="Imagem responsiva">
    </div>
</div>

<div align="center">

    <div class="d-inline-block">
        <div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 70px ">
            <div class="card-header"><b>QUER JOGAR ?</b></div>
            <div class="card-body">
                <p class="card-text">
                    <h6>Você esta pronto? Clique em jogar e boa sorte!</h6>
                </p>
                <a class="btn btn-outline-info" href="/pompeius/join-game" role="button"><b>JOGAR</b></a>
            </div>
        </div>
    </div>

    <div class="d-inline-block">
        <div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 70px ">
            <div class="card-header"><b>É O PROFESSOR ?</b></div>
            <div class="card-body">
                <p class="card-text">
                    <h6>Clique em "CADASTRAR" para criar uma conta e começar o jogo! Ou, se for cadastrado(a), selecione
                        "LOGIN" para entrar e seguir com a aventura!</h6>
                </p>
                <div class="d-inline-block">
                    <a href="/professor/login"><button class="btn btn-outline-info mt-2"><b>ENTRAR</b></button></a>
                    <a href="/professor/add"><button class="btn btn-outline-info mt-2"><b>CADASTRAR</b></button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-inline-block">
        <div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 70px ">
            <div class="card-header"><b>POMPEIUS ?</b></div>
            <div class="card-body">
                <p class="card-text">
                    <h6>O que é isso? Como funciona?</h6>
                </p>
                <a class="btn btn-outline-info" href="#" role="button"><b>DESCOBRIR</b></a>
            </div>
        </div>
    </div>