<style>
  body {
    background-color: #00CCBB;
  }
</style>

<div><a href="/professor/logout"><button type="button" class="float-right btn btn-danger"
    style=" margin-right: 10px; margin-top: 10px "><b>SAIR</b></button></a></div>

<!--<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    
      <button class="btn btn-outline-info" type="button" style="margin-right: 40px" disabled><b>CRIAR SALA</b></button>
    
    <a href="/professor/edit">
      <button class="btn btn-outline-info" type="button" style="margin-right: 40px"><b>EDITAR DADOS</b></button>
    </a>
  </form>
  <a href="/professor/logout">
    <button class="btn btn-outline-info" type="button" style="margin-right: 40px"><b>SAIR</b></button>
  </a>
</nav>-->

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>
  <div class="container" align="center">
    <img src="/img/logoc.png" class="img-responsive img-fluid">
    <h2 class="display-4" align="center">CRIAR SALA</h2>

  </div>
</div>

<div align="center">

<div  class="d-inline-block">
<div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 50px ">
  <div class="card-header"><b>EDITAR MEUS DADOS</b></div>
  <div class="card-body">
     <p class="card-text"><h6>Quer mudar a senha ou e-mail? É aqui mesmo!</h6></p>
    <div class="d-inline-block">
    <a class="btn btn-outline-info" href="/professor/edit" role="button"><b>EDITAR</b></a>
    </div>
  </div>
</div>
</div>

<div  class="d-inline-block">
<div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 50px ">
  <div class="card-header"><b>CRIAR SALA</b></div>
  <div class="card-body">
    <p class="card-text"><h6>Escolha os enigmas para compor a sala virtual</h6></p>
    <a class="btn btn-outline-info" href="/professor/create-room" role="button"><b>CRIAR</b></a>
  </div>
</div>
</div>


<div  class="d-inline-block">
<div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 50px ">
  <div class="card-header"><b>RELATÓRIOS</b></div>
  <div class="card-body">
    <p class="card-text"><h6>Aqui etão os relatórios das partidas anteriores</h6></p>
    <a class="btn btn-outline-info" href="#" role="button"><b>CONSULTAR</b></a>
  </div>
</div>
</div>

</div>

<!--
<div class="card" style="width: 18rem; margin-left: 50px">
  <img src="/img/brasil.png" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Enigma 1 - Lei Aurea</h5>
    <p class="card-text">Click no botão abaixo para testar esse engima.</p>
    <a href="/professor/enigma1" class="btn btn-outline-info"><b>Testar Enigma</b></a>
  </div>
</div>-->