<link rel="shortcut icon" href="/img/paba.png" type="image/x">
<title>ISABEL</title>


<style>
    body {
        background-color: #000000;
    }
</style>

<div align="center">
    <div class="d-inline-block" style="margin-top: 200px; ">
        <img src="/img/brasil.png" class="img-fluid" alt="Imagem responsiva">
        <img src="/img/1500.jpg" class="img-fluid" alt="Imagem responsiva">

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div align="right">
    <div class="col-sm-4">
        <div class="input-group">
            <form action="/professor/enigma1/teste" method="POST">
                <input type="text" name="resposta" class="form-control" id="resposta">
                <button type="submit" class="btn btn-light"><b>RESPONDER</b></button>
            </form>
        </div>
    </div>
</div>
</div>