<style>
body {
  background-color: #FFFFFF;
}
</style>


<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff";>
  <div class="container" align="center">
  <img src="/img/logoc.png" class="img-fluid" alt="Imagem responsiva" >
  </div>
</div>


<body>
 <br>
 <br>
<div class="text-center">
    <strong><h5>Ops! A sala foi encerrada!</h5></strong>
    <br>
    <a class="btn btn-outline-info" href="/pompeius" role="button"><b>VOLTAR AO INÍCIO</b></a>
</div>
</div>