<style>
body {
  background-color: #000000;
}
</style>

{{>_msg}}

<div align="center">
<div  class="d-inline-block" style="margin-top: 200px; ">
<img src="/img/pi.jpg" width="500px" height="500px" class="img-fluid" alt="Imagem responsiva" >

</div>
</div>

<br>
<br>
<br>

<form action="/pompeius/professor/vezes10x0/res" method="POST">
<div align="center">
<div class="col-sm-4">
<div class="input-group">
  <input type="text" name="respi" class="form-control" id="respi">
  <div class="input-group-append">
    <button type="submit"  class="btn btn-light-outline-secondary" ><b>RESPONDER</b></button>
    </button>
    </div>
  </div>
</div>
</div>
</form>