<style>
  body {
    background-color: #000000;
  }
</style>

<title>VEZES 10 x 0</title>

{{#each erros}}
<div class="alert alert-danger alert-dismissible fade show">{{message}} <button type="button" class="close"
        data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button></div>

{{else}}

{{/each}}

<div align="center">
  <div class="d-inline-block" style="margin-top: 200px; ">
    <img src="/img/pi.jpg" width="500px" height="500px" class="img-fluid" alt="Imagem responsiva">

  </div>
</div>

<br>
<br>
<br>

<form action="/pompeius/enigma2/res" method="POST">
  <div align="center">
    <div class="col-sm-4">
      <div class="input-group">
        <input type="hidden" name="idAluno" id="idAluno" value="{{aluno._id}}">
        <input type="text" name="respi" class="form-control" id="respi">
        <div class="input-group-append">
          <button type="submit" class="btn btn-light-outline-secondary"><b>RESPONDER</b></button>
          </button>
        </div>
      </div>
      <div align="center">
        <strong>
          <h5>Erros: {{aluno.erros}}</h5>
        </strong>
      </div>
    </div>
  </div>
</form>