<title>POMPEIUS</title>

<style>
    body {
        background-color: #00CCBB;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>
    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-fluid" alt="Imagem responsiva">
    </div>
</div>

<div align="center">
    <h3>CÓDIGO DA SALA: {{sala.idRoom}}</h3>
    <br>
    <a href="/pompeius/room-close/{{sala._id}}"><button class="btn btn-danger"><b>FECHAR SALA</b></button></a>
</div>