<style>
    body {
        background-color: #00CCBB;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>

    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-responsive img-fluid">
        <h2 class="display-4" align="center">CADASTRO</h2>

    </div>
</div>

{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="card">
    <!--<div class="card" style="margin-right: 200px; margin-left: 200px; margin-top: 30px; ">-->
    <div class="card-header">
        <form action="/professor/novo" method="POST">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="mail">E-mail</label>
                    <input type="email" name="email" class="form-control" id="mail" aria-describedby="emailHelp"
                        placeholder="Escreva seu e-mail" required>
                    <span class="help-block">Informe o e-mail para o qual será enviado os resultados no final da
                        rodada.</span>
                </div>
            </div>

            <div class="form-row">


                <div class="col-md-3 mb-3">
                    <label for="senha" class="control-label">Senha</label>
                    <input name="password" class="form-control" id="senha" placeholder="******" type="password"
                        required>
                    <span class="help-block">Mínimo de seis (6) digitos</span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="confirmSenha" class="control-label">Confirmar Senha</label>
                    <input name="passwordConfirm" class="form-control" id="confirmSenha" placeholder="Confirme a senha"
                        type="password" required>
                </div>
            </div>


            <div align="left">
                <button type="submit" class="btn btn-outline-info"><b>SALVAR</b></button>
                <a href="/pompeius" class="float-right btn btn-outline-info"><b>VOLTAR</b></a>
            </div>
        </form>
    </div>
</div>