<title>POMPEIUS</title>

<style>
    body {
        background-color: #00CCBB;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>
    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-fluid" alt="Imagem responsiva">
        <h2 class="display-4" align="center">CRIANDO SALA</h2>
    </div>
</div>

<div align="right">
    <a href="/professor/room-start"><button class="btn btn-success" ><b> INICIAR SALA </b></button></a>
</div>
