<style>
    body {
        background-color: #87CEFA;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>
    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-responsive img-fluid">
        <h2 class="display-4" align="center">ENTRAR</h2>
        {{>_msg}}

    </div>
</div>

<div class="card">
    <!--<div class="card" style="margin-right: 500px; margin-left: 500px; margin-top: 30px; ">-->
    <div class="card-header">

        <form action="/pompeius/professor/efetuarlogin" method="POST">
            <div class="form-group">
                <label for="loginmail">E-Mail</label>
                <input name="loginmail" id="loginmail" class="form-control" placeholder="E-Mail" type="email">
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="/pompeius/professor/password-save">Esqueci minha senha.</a>
                <label for="senha">Senha</label>
                <input name="senha" class="form-control" id="senha" placeholder="******" type="password">
            </div>
            <div class="form-group">

            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="float-right btn btn-outline-info"><b>ENTRAR</b></button>
                <a href="/pompeius" class="btn btn btn-outline-info"><b>VOLTAR</b></a>
            </div> <!-- form-group// -->
        </form>
    </div>
</div>