<style>
  body {
    background-color: #FFFFFF;
  }
</style>
<nav class="navbar navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <img src="https://thacischott.github.io/pompeius/logoc.png" width="68" height="45" class="d-inline-block align-top"
    alt="Imagem responsiva">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/pompeius/inicio">Criar Sala <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/pompeius/professor/relatorios">Relatórios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pompeius/professor/about">Sobre</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Opções da Conta
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item " href="/pompeius/professor/edit">Editar Dados</a>
          <a class="dropdown-item  disabled">Alterar Senha</a>
          <a class="dropdown-item" href="/pompeius/professor/remove-account">Excluir Conta</a>
          <a class="dropdown-item" href="/pompeius/professor/logout">Sair</a>
        </div>
      </li>
    </ul>
    <form class="form-inline">
    </form>
  </div>
</nav>



<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>

  <div class="container" align="center">
    <h2 class="display-4" align="center">ALTERAR SENHA</h2>
    {{#each erros}}
    <div class="alert alert-danger alert-dismissible fade show">{{texto}} <button type="button" class="close"
        data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button></div>

    {{else}}

    {{/each}}
    {{>_msg}}
  </div>
</div>

<form action="/pompeius/professor/alter-password/process" method="POST">

  <div class="card ">

    <div class="card-header">
      <div class="form-row">


        <input type="hidden" name="idpass" id="id" value="{{user.id}}">
        <div class="col-md-3 mb-3">
          <label for="validationDefault05" class="control-label">Senha Antiga</label>
          <input type="password" class="form-control" name="passbefore" id="validationDefault05"
            placeholder="Senha Antiga" data-minlength="6" required>
        </div>
        <br>

        <div class="col-md-3 mb-3">
          <label for="validationDefault05" class="control-label">Nova Senha</label>
          <input type="password" class="form-control" name="newpass" id="validationDefault05" placeholder="Nova Senha"
            data-minlength="6" required>
          <span class="help-block">Mínimo de seis (6) digitos</span>
        </div>

        <div class="col-md-3 mb-3">
          <label for="validationDefault05" class="control-label">Confirmar Nova Senha</label>
          <input type="password" class="form-control" name="newpassconfirm" id="validationDefault05"
            placeholder="Confirmar Nova Senha" data-match="#inputPassword"
            data-match-error="Atenção! As senhas não estão iguais." required>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div align="left">
        <button class="btn btn-outline-info" type="salvar"><b>SALVAR</b></button>
      </div>
    </div>

  </div>

</form>


<script>
  function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i, text;
    input = document.getElementById("myInput");
    filter = input.value;
    cardContainer = document.getElementById("myDIV");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelector(".card-body h5.card-title");
      text = cards[i].querySelector(".card-body p.card-text");
      if (title.innerText.indexOf(filter) > -1 || text.innerText.indexOf(filter) > -1) {
        cards[i].style.display = "";
      } else {
        cards[i].style.display = "none";
      }
    }
  }
</script>