<title>PROFESSOR</title>

<style>
    body {
        background-color: #87CEFA;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>

    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-responsive img-fluid">
        <h2 class="display-4" align="center">RECUPERAR SENHA</h2>
        {{>_msg}}

    </div>
</div>

<div align="center">
    <form action="/pompeius/professor/password-forgot" method="POST">


        <div class="d-inline-block">
            <div class="card bg-light mb-3" style="max-width: 30rem; margin: 30px; margin-top: -10px ">
                <div class="card-body">
                    <div style="text-align: justify-all">
                        <strong>
                            <h6>Insira seu e-mail cadastrado e enviaremos um código para redefinir sua senha:</h6>
                        </strong>
                        <br>
                        <div class="d-inline-block">
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="savemail" name="savemail"
                                    placeholder="E-mail" required>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-outline-info"> <b>ENVIAR</b> </button>


                        </div>
                    </div>
    </form>

</div>
</div>

<!--
<div align="center">
    <div class="card">
        <div class="card-header">
            <form action="/pompeius/professor/password-forgot" method="POST">

                <div class="d-inline-block">
                    <div class="card bg-light mb-3" style="max-width: 18rem; margin: 30px; margin-top: 70px ">
                        <div class="card-header"><b>RECUPERAR SENHA</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                <h6>Informe qual e-mail deseja recuperar a senha!</h6>
                            </p>
                            <div class="d-inline-block">
                                <input name="savemail" id="savemail" class="form-control" placeholder="E-Mail"
                                    type="email">
                                <br>
                                <button class="btn btn-success" type="submit"><b>RECUPERAR</b></button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>-->