<title>PROFESSOR</title>

<style>
    body {
        background-color: #87CEFA;
    }
</style>

<div class="jumbotron jumbotron-fluid" style="background-color: #ffffff" ;>

    <div class="container" align="center">
        <img src="/img/logoc.png" class="img-responsive img-fluid">
        <h2 class="display-4" align="center">RECUPERAR SENHA</h2>
        {{>_msg}}

        {{#each erros}}
        <div class="alert alert-danger">{{message}}</div>
        {{else}}

        {{/each}}

    </div>
</div>

<div align="center">
    <form action="/pompeius/professor/password-reset-process" method="POST">


        <div class="d-inline-block">
            <div class="card bg-light mb-3" style="max-width: 30rem; margin: 30px; margin-top: -10px ">
                <div class="card-body">
                    <div style="text-align: justify-all">
                        <br>
                        <div class="d-inline-block">
                            <div class="input-group mb-1">
                                <br>
                                <input type="hidden" name="mail" id="mail" value="{{professor.mail}}">
                                <input type="password" class="form-control" id="pass" name="pass"
                                    placeholder="NOVA SENHA" required>
                            </div>
                            <div class="input-group mb-1">
                                <br>
                                <input type="password" class="form-control" id="confirmpass" name="confirmpass"
                                    placeholder="CONFIRME NOVA SENHA" required>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-outline-info"> <b>VALIDAR</b> </button>


                        </div>
                    </div>
    </form>

</div>
</div>